<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'main.js' %>
    <%= stylesheet_pack_tag 'main.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
