<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || 'フリマ' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'main.js' %>
    <%= stylesheet_pack_tag 'main.css' %>
  </head>

  <body>
    <%= render('layouts/header') %>
    <%= yield %>
    <%= render('layouts/footer') %>
  </body>
</html>
